.stress-page {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.stress-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
}

.stress-grid .card {
 
}

img{
  width: 100%;
  border-radius: 10%;
  height: 150px;
  object-fit: cover; 
}
